<h1> Parcel Details</h1>
<h2> @Model.Note</h2>
<h2> sideA = @Model.SideA</h2>
<h2> sideB = @Model.SideB</h2>
<h2> sideC = @Model.SideC</h2>
<h2> weight = @Model.Weight</h2>

<p>@Html.ActionLink("Add new category", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>